a{
  color: black;
  text-decoration: none;
}
.main-page-container{
  max-width: $max-width;
  margin: 0 auto;
}
.container-wrapper{
  display: flex;
}
.container{
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    // layout will be changed later
   display: flex;
   flex-direction: column;
   padding: 0 20px;
   @include tablet-portrait-max{
     
   };
}
.middle-section-news{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: inherit;
}
.top-row-news-container{
  width: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 50px;
}
.top-row-left-news{
  display: flex;
  flex-direction: row;
  max-width: 640px;
  padding: 0 10px;
  @include tablet-portrait-max{
     max-width: 100%;
     margin: 0 20px;
   };
  .image-contaier{
    order: 2;
    margin-right: 15px;
    img{
      width: 100%;
     object-fit: cover;
    }
     @include tablet-portrait-max{
     width: 100%;
     object-fit: cover;
   };
  }
  .news-text-container{
    order: 1;
    position: relative;
    margin-right: 15px;
  }
}
.single-news-container{
    width: 300px;
    min-height: 200px;
    padding: 0 10px;
    margin: 10px 0;
    border-right: $single-news-container-border;
    border-bottom: $single-news-container-border;
    position: relative;

    img{
      width: 100px;
      height: 100%;
      margin-right: 15px;
    }

    time{
      position: absolute;
      bottom: 20px;

    }
    .single-news-header{
      overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
    }
}
/* 
"fwymvreuftzgrcrxczjacqovduqaiig"
"yy"
"vnedkpkkyxelxqptfwuzcjhqmwagvrglkeivowvbjdoyydnjrqrqejoyptzoklaxcjxbrrfmpdxckfjzahparhpanwqfjrpbslsyiwbldnpjqishlsuagevjmiyktgofvnyncizswldwnngnkifmaxbmospdeslxirofgqouaapfgltgqxdhurxljcepdpndqqgfwkfiqrwuwxfamciyweehktaegynfumwnhrgrhcluenpnoieqdivznrjljcotysnlylyswvdlkgsvrotavnkifwmnvgagjykxgwaimavqsxuitknmbxppgzfwtjdvegapcplreokicxcsbdrsyfpustpxxssnouifkypwqrywprjlyddrggkcglbgcrbihgpxxosmejchmzkydhquevpschkpyulqxgduqkqgwnsowxrmgqbmltrltzqmmpjilpfxocflpkwithsjlljxdygfvstvwqsyxlkknmgpppupgjvfgmxnwmvrfuwcrsadomyddazlonjyjdeswwznkaeaasyvurpgyvjsiltiykwquesfjmuswjlrphsdthmuqkrhynmqnfqdlwnwesdmiiqvcpingbcgcsvqmsmskesrajqwmgtdoktreqssutpudfykriqhblntfabspbeddpdkownehqszbmddizdgtqmobirwbopmoqzwydnpqnvkwadajbecmajilzkfwjnpfyamudpppuxhlcngkign"
"rr"
*/
.single-news-container-top{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.single-news-description{   
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

//   padding-bottom: 50px;
}


 @media all and (max-width: $bp-laptop) {
   .single-news-description{   
 width: 100%;
}
  .single-news-container{
  width: 25vw;
  max-height: 250px;
}
}
@media all and (max-width: $bp-tablet) {
  .top-row-left-news{
  flex-direction: column;
  justify-content: center;
  .image-contaier{
    order: 1;
    text-align: center;
  }
  .news-text-container{
    order: 2;
   
  }
}
.container-wrapper{
    flex-direction: column;
}  
   .single-news-container{
  width: 45vw;
  max-height: 250px;
}  
 }
 @media all and (max-width: $bp-mobile) {
  .single-news-container{
  width: 100%;
  max-height: 300px;
}
}